* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #3333;
}

header {
  background-color: #f4f4f4;
  padding: 10px 10px;
  box-shadow: inset;
  border-bottom: 5px solid rgba(232, 232, 232, 0.936);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
