* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #3333;
}

header {
  background-color: #f4f4f4;
  padding: 10px 20px;
  box-shadow: inset;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 3rem;
    background-color: #f9f9f9;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3rem;
    color: #333;
}

.hero-content p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.btn-primary {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1.5rem;
}

.hero-image img {
    width: 400px;
}

.hero-stats {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 3rem;
}

.stat h3 {
    color: #333;
    font-size: 1.5rem;
}

.stat p {
    color: #666;
}